@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'League Spartan', sans-serif;
    background: hsl(222, 26%, 31%);
    color: white;
    font-weight: 700;
    font-size: 32px;
}
  
.container{
    max-width: 500px;
    display: grid;
    margin: 100px auto;
}

.container .header{
    display: flex;
    justify-content: space-between;
}

.toggler span{
    font-size: 12px;
}

.screen{
    display: flex;
    justify-content: end;
    padding: 33px 30px 33px 0;
    margin: 20px 0;
    background: hsl(224, 36%, 15%);
    border-radius: 10px;
}

.keyboard{
    background: hsl(223, 31%, 20%);
    border-radius: 10px;
}

.row{
    padding-top: 25px;
    display: flex;
    justify-content: space-evenly;
}

.last-row{
    padding-bottom: 25px;
}

.key{
    color: hsl(221, 14%, 31%);
    border-radius: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 90px;
    background-color: hsl(30, 25%, 89%);
}